html, body {
  height: 100%;
}
body {
  align-items: center;
  display: flex;
  justify-content: center;
}

.lrn.lrn-assess .lrn-region:not(.lrn-items-region) .lrn_btn_blue, .lrn.lrn-assess .dialogs button.lrn_btn_blue {
    background-color: purple !important;
    border-radius: 999px;
    border: 1px solid purple !important;
}

button:hover.lrn_btn_blue {
  opacity: .7
}

.lrn .lrn_btn_sort {
  color: red !important;
  font-size: 24px;
  font-weight: 600 !important;
}
